<!-- <<p>profile works!</p>
<h1>hey</h1> -->

<mat-card>
    <h1>Profile Details</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">

            <div class="container">
                <div class="container text-center">

                    <img src="https://t3.ftcdn.net/jpg/00/64/67/80/360_F_64678017_zUpiZFjj04cnLri7oADnyMH0XBYyQghG.jpg"
                        alt="" 
                        class="profile-image"/>
                    <h1>{{user.name}}</h1>


                </div>

                <div class="row">

                    <div class="col-md-10 offset-md-1"></div>
                    <table class="table" style="text-align: center;">
                        <tr>
                            <td>Username </td>
                            <td>{{user.username}}</td>
                        </tr>

                        <tr>
                            <td>User Id </td>
                            <td>EXAM{{user.id}}</td>
                        </tr>

                        <tr>
                            <td>Phone No </td>
                            <td>{{user.phone}}</td>
                        </tr>

                        <tr>
                            <td>Role</td>
                            <td>{{user.authorities[0].authority}}</td>
                        </tr>

                        <tr>
                            <td>Status</td>
                            <td>{{user.enabled?"ACTIVE":"NOTACTIVE"}}</td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary">Update</button>
        <button mat-raised-button color="accent">share</button>
      </mat-card-actions>
</mat-card>