.truncate{
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.example-header-image {
    background-image: url('https://img.icons8.com/?size=512&id=OQQN8J666Pau&format=png');
    background-size: cover;
  }
  